@font-face {
    font-family: "B Yekan";
    src: url("/assets/B-Yekan.ttf");
}

* {
    border: none;
    outline: none;
    user-select: none;
    font-family: 'B Yekan', Tahoma, Geneva, Verdana, sans-serif;
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    padding:0;margin:0;
}

.my-float{
	margin-top:22px;
}
.leaflet-control-attribution  {
    display: none !important;
}
.flex {
    display: flex;
}

.flex.nowrap {
    flex-wrap: nowrap;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.column {
    flex-direction: column;
}

.flex.center_justify-content {
    justify-content: center;
}

.flex.center_align-items {
    align-items: center;
}

.flex div.space {
    flex: 1 1 auto;
}

.rtl {
    direction: rtl;
}

.hide {
    display: none;
}

.blue-color {
    color: #0075f6;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f3f3f3;
    overflow: hidden;
}

div.views {
    position: relative;
    height: 100vh;
    width: 100vw;
}

div.views div.view {
    width: 100vw;
    height: 100vh;
    position: absolute;
    pointer-events: none;
    z-index: 1;
    transition: all .3s;
}

div.views div.view.show {
    pointer-events: all;
    z-index: 2;
    transition: all .3s;
}

div.view.splash,
div.view.login,
div.view.permission {
    background-color: #0075f6;
}

div.view.home {
    background-color: #ffffff;
}

div.view.splash div.imgs {
    min-width: 300px;
    max-width: 500px;
    width: 50vw;
    margin-left: -100px;
    margin-top: -20px;
}

div.view.splash div.imgs img {
    position: relative;
    width: 100%;
}

div.view.splash div.imgs img.parking-sign {
    animation: splash-parking-sign .3s ease-in-out;
}

@keyframes splash-parking-sign {
    0% {
        left: 5%;
        opacity: 0;
    }
    100% {
        left: 0%;
        opacity: 1;
    }
}

div.view.splash div.imgs img.parking-car {
    top: 35%;
    left: 28.5%;
    animation: splash-parking-car 1s ease-in-out;
}

@keyframes splash-parking-car {
    0% {
        left: -10%;
        opacity: 0;
    }
    100% {
        left: 28.5%;
        opacity: 1;
    }
}

div.view.splash div.app-title {
    color: #fff;
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    font-weight: bold;
    animation: splash-app-title .5s ease-in;
}

@keyframes splash-app-title {
    0% {
        opacity: 0;
        bottom: 90px;
    }
    100% {
        opacity: 1;
        bottom: 150px;
    }
}

div.view.splash div.app-title::after {
    position: fixed;
    bottom: -150px;
    display: block;
    content: "پارکینو";
    color: #0075f6;
    padding: 50px;
    background-color: #0075f6;
    z-index: 1;
    animation: splash-app-title-after .5s ease-in;
}

@keyframes splash-app-title-after {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: -150px;
    }
}

div.view.login div.app-title {
    position: absolute;
    top: 50px;
    right: 20px;
    color: #fff;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: bold;
}

div.view.login div.imgs {
    margin-top: -350px;
    margin-right: -100px;
}

div.view.login div.imgs img.parking-car {
    margin-top: 90px;
    margin-left: -30px;
}

div.view.login div.form {
    background-color: #fff;
    position: absolute;
    top: 60vh;
    width: 100vw;
    height: 50vh;
    padding-top: 30px;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, .2);
}

div.view.login div.form span#login-text {
    margin-bottom: 30px;
}

div.view.login div.form div.input-container {
    position: relative;
    width: 300px;
    margin-bottom: 30px;
}

div.view.login div.form div.input-container input {
    width: 100%;
    font-size: 1rem;
    padding-bottom: 7px;
    border-bottom: 1px solid #0077f6bb;
}

div.view.login div.form div.input-container input:not(:placeholder-shown) {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

div.view.login div.form div.input-container input::placeholder {
    color: #0075f6;
}

div.view.login div.form button {
    background-color: #0075f6;
    color: #fff;
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    width: calc(100% - 40px);
    padding: 10px 0;
    font-size: 1rem;
    border-radius: .3rem;
    max-width: 450px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
}

div.view.home div#map {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transition: all .8s;
}

@media only screen and (max-width: 992px) {
    div.view.home div#map.short {
        height: 30vh;
        transition: all .5s;
    }
}

div.view.home div.parking {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100vh;
    z-index: 3;
    opacity: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, .2);
    background-color: #fff;
    padding: 0 10vw;
    overflow-y: auto;
    transition: all .8s;
}

@media only screen and (min-width: 993px) {
    div.view.home div.parking {
        left: 20vw;
        right: 20vw;
    }
}

div.view.home div.parking.show {
    top: 26vh;
    opacity: 1;
    transition: all .5s;
}

div.view.home div.parking.show div.loading {
    display: none;
}

div.view.home div.parking.loading {
    top: calc(100vh - 40px);
    opacity: 1;
    overflow-y: hidden;
    transition: all .3s;
}

div.view.home div.parking.loading div.header {
    padding-top: 40px;
}

div.view.home div.parking div.loading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    width: 30%;
    height: 4px;
    background-color: #B3E5FC;
    margin-top: 20px;
    border-radius: .4rem;
}

div.view.home div.parking div.loading div.bar {
    position: relative;
    width: 100%;
    height: 4px;
}

div.view.home div.parking div.loading div.bar:before {
    content: '';
    position: absolute;
    height: 4px;
    background-color: #0075f6;
    border-radius: .4rem;
    animation: indeterminate_first 1.5s infinite ease-out;
}

div.view.home div.parking div.loading div.bar:after {
    content: '';
    position: absolute;
    height: 4px;
    background-color: #0075f6;
    border-radius: .4rem;
    animation: indeterminate_second 1.5s infinite ease-in;
}

@keyframes indeterminate_first {
    0% {
        left: -100%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}

@keyframes indeterminate_second {
    0% {
        left: -150%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}

div.view.home div.parking div.header {
    padding-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

div.view.home div.parking div.header h3 {
    color: #0075f6;
}

div.view.home div.parking div.header p {
    margin-top: -5px;
    font-size: .9rem;
}

div.view.home div.parking div.parks {
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 20px;
    height: 150px;
}

div.view.home div.parking div.parks div.park {
    position: relative;
    min-width: 100px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, .2);
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

div.view.home div.parking div.parks div.park::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 80px;
    height: 100px;
    margin-top: 25px;
    margin-right: 10px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all .3s;
}

div.view.home div.parking div.parks div.park.reversed::after {
    background-image: url('/assets/car-top.svg');
}

div.view.home div.parking div.parks div.park:not(.reversed).click::after {
    background-image: url('/assets/car-top-blue.svg');
}

div.view.home div.parking div.parks div.park.reversed::after,
div.view.home div.parking div.parks div.park:not(.reversed).click::after {
    opacity: 1;
    transition: all .3s;
}

div.view.home div.parking div.parks div.park:not(.reversed).click {
    color: transparent;
    transition: all .8s;
}

div.view.home div.parking div.parks div.park:not(.reversed).click::after {
    animation: car-park 1s ease-in-out;
}

@keyframes car-park {
    0% {
        margin-top: -100px;
    }
    80% {
        margin-top: 35px;
    }
    100% {
        margin-top: 25px;
    }
}

div.view.home div.parking div.parks div.park:first-child {
    border-right: none;
}

div.view.home div.parking div.floor {
    padding: 30px 0;
}

div.view.home div.parking div.floor button {
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
}

div.view.home div.parking div.floor button svg {
    width: 20px;
    height: 20px;
    fill: #0075f6;
    position: relative;
    top: 5px;
}

div.view.home div.parking div.times {
    padding: 20px;
}

div.view.home div.parking div.price {
    text-align: center;
    padding-top: 20px;
}

div.view.home div.parking div.buttons {
    margin-top: 40px;
}

div.view.home div.parking div.buttons button {
    width: 100%;
    border-radius: .3rem;
    margin: 10px 5px;
    cursor: pointer;
}

div.view.home div.parking div.buttons button.submit {
    background-color: #0075f6;
    color: #fff;
    padding: 10px 0;
    font-size: 1rem;
    max-width: 450px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
}

div.view.permission {
    color: #fff;
}

div.view.permission img {
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
}

div.view.permission p {
    margin: 0 10vw;
    text-align: center;
    line-height: 20px;
}